# LIST-1

In [2]:
list=[1,2,3,4,5]
for i in list:
    print(i,end =" ")

1 2 3 4 5

# LIST-2

In [8]:
def even(list):
    for i in list:
        if(i%2==1):
            list.remove(i)
    return list

In [9]:
list=[1,2,3,4,5,6]
even(list)

[2, 4, 6]

# LIST-3

In [10]:
list=[1,2,2,3,5,6,1,3,5,7,8]
no_duplicate_list=[]
for i in list:
    if i not in no_duplicate_list:
        no_duplicate_list.append(i)
print(no_duplicate_list)

[1, 2, 3, 5, 6, 7, 8]

# LIST-4

In [13]:
list=[10,20,43,90,78,56,12,45,75,87,34,65]
list.sort()
print(list)
print(list[-2])

[10, 12, 20, 34, 43, 45, 56, 65, 75, 78, 87, 90]
87

# LIST-5

In [19]:
import random
list=[12,23,45,23,45,78,23,11,41,24,67]
random.shuffle(list)
print(list)

[12, 45, 67, 23, 23, 24, 78, 23, 45, 41, 11]

# TUPLES-1

In [1]:
mytuple=(1,4,5,6,3,2,5)
tuple2=mytuple[::-1]
print(tuple2)

(5, 2, 3, 6, 5, 4, 1)

# TUPLES-2

In [2]:
def common(tuple1,tuple2):
    set1=set(tuple1)
    set2=set(tuple2)
    print(tuple(set1.intersection(set2)))

In [4]:
tuple1=(15,26,45,58,36,96,7,25,65)
tuple2=(15,8,58,32,78,19,65,12)
common(tuple1,tuple2)

(65, 58, 15)

# TUPLE 3

In [5]:
tuple1=('h','e','l','l','o')
str=""
for i in tuple1:
    str=str+i
print(str)

hello

# TUPLE 4

In [9]:
def find_index(element,tuple):
    idx=-1
    flag=False
    for i in tuple:
        if(element==i):
            idx=idx+1
            return idx
        idx=idx+1
    return -1

In [10]:
tuple=(1,2,3,45,6,78,9,11,25,)
find_index(45,tuple)

3

In [11]:
find_index(95,tuple)

-1

# TUPLE-5

In [14]:
tuple1=('h','e','l','l','o')
tuple2=('w','o','r','l','d')
tuple3=tuple1+tuple2
print(tuple3)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

# DICTIONARIES-1

In [18]:
def sort_len(a):
    return a[1]
my_dict={'a':1,'b':5,'c':4,'d':2,'e':3}
ans=sorted(my_dict.items(),key=sort_len)
print(ans)

{'a': 1, 'b': 5, 'c': 4, 'd': 2, 'e': 3}
[('a', 1), ('d', 2), ('e', 3), ('c', 4), ('b', 5)]

# DICTIONARIES-2

In [22]:
my_dict={'a':1,'b':5,'c':4,'d':2,'e':3}
sum=0
for i in my_dict:
    sum+=my_dict[i]
print(sum)

15

# DICTIONARIES-3

In [25]:
my_dict1={'a':1,'b':5,'c':4,'d':2,'e':3}
my_dict2={'a':1,'k':5,'z':4,'d':2,'g':3}
for i in my_dict1:
    if i in my_dict2:
        my_dict2[i]=my_dict2[i]+my_dict[i]
    else:
        my_dict2[i]=my_dict1[i]
print(my_dict2)

{'a': 2, 'k': 5, 'z': 4, 'd': 4, 'g': 3, 'b': 5, 'c': 4, 'e': 3}

# DICTIONARIES-4

In [31]:
def find_key(key,dict):
    flag=False
    for i in dict:
        if(i==key):
            flag=True
    return flag

# DICTIONARIES-5

In [34]:
my_dict1={'a':1,'b':5,'c':4,'d':2,'e':3}
print(find_key('c',my_dict1))
print(find_key('z',my_dict1))

True
False

In [39]:
my_dict1={'a':1,'b':5,'c':4,'d':2,'e':3}
for x,y in my_dict1.items():
    print("key=",x, "value=",y)

key= a value= 1
key= b value= 5
key= c value= 4
key= d value= 2
key= e value= 3

# SET-1

In [42]:
my_set={1,2,4,3,5,7,7}
my_set

{1, 2, 3, 4, 5, 7}

# SET-2

In [45]:
my_set1={6,3,4,78,23,12,89,45}
my_set2={3,45,26,69,87,23,1,2,56}
my_set3=my_set1&my_set2
my_set3

{3, 23, 45}

# SET-3

In [47]:
my_set1={6,3,4,78,23,12,89,45}
my_set2={3,45,26,69,87,23,1,2,56}
my_set3=my_set1^my_set2
my_set3

{1, 2, 4, 6, 12, 26, 56, 69, 78, 87, 89}

# SET-4

In [54]:
def  subset(set1,set2):
    count=0
    for i in set1:
        if i in set2:
            count=count+1
    if count==len(set1):
        return True
    else:
        return False

In [55]:
my_set1={6,3,4,78,23,12,89,45}
my_set2={6,3,4}
my_set3={121,254,658}
print(subset(my_set2,my_set1))
print(subset(my_set3,my_set1))

True
False

# SET-3

In [60]:
my_set1={6,3,4,78,23,12,89,45}
my_set2={3,45,26,69,87,23,1,2,56}
print("union =",my_set1.union(my_set2))
print("intersection = ",my_set1.intersection(my_set2))
print("difference (1-2) = ",my_set1.difference(my_set2))
print("difference (2-1) = ",my_set2.difference(my_set1))

union = {1, 2, 3, 4, 69, 6, 12, 45, 78, 87, 23, 56, 89, 26}
intersection =  {3, 45, 23}
difference (1-2) =  {4, 6, 12, 78, 89}
difference (2-1) =  {1, 2, 69, 87, 56, 26}